utau_overflagstest/TestFiles/ろにテト！.xsd

<?xml version="1.0" encoding="shift_jis"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="ArrayOfFlagCondition">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="FlagCondition">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="WriteType" type="xsd:string" />
              <xsd:element name="TargetNote">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="NoteNum" type="xsd:unsignedByte" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Operator" type="xsd:string" />
              <xsd:element name="Flags" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>